In [63]:
import pandas as pd
import re
import numpy as np

In [4]:
df = pd.read_csv("sms_spam_cleaned.csv")
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5559  spam  This is the 2nd time we have tried 2 contact u...
5560   ham              Will Ì_ b going to esplanade fr home?
5561   ham  Pity, * was in mood for that. So...any other s...
5562   ham  The guy did some bitching but I acted like i'd...
5563   ham                         Rofl. Its true to its name

[5564 rows x 2 columns]

In [15]:
# Regular Expressions

regex = re.compile(r"aab")

In [10]:
regex.findall("aaaabbbbaaaabbb")

['aab', 'aab']

In [11]:
regex = re.compile("aab")

In [12]:
regex.search("aaaabbbbaaaabbb")

In [17]:
s = "aaaabbbbaaaabbb"
regex.search(s[5:])

In [23]:
def freq(c, s):
    regex = re.compile(c)
    matches = regex.findall(s)
    return len(matches)

In [25]:
s = "aaacaabka"
freq("a", "aaacaabka")

6

In [27]:
len([x for x in s if x == "a"])

6

In [30]:
freq("hello", "hello, there. hellohello")

3

In [32]:
[x for x in "hello, there. hellohello" if x == "hello"] # doesn't work for words

[]

In [45]:
def caps(s):
    regex = re.compile(r"[A-Z]+")
    return regex.findall(s)

In [38]:
regex.match("ABC")

In [39]:
s = "ABC1 23 ABCDEF"
regex.findall(s)

['ABC', 'ABCDEF']

In [46]:
caps(s)

['ABC', 'ABCDEF']

In [47]:
words = ['make', 'address', 'all', '3d', 'our', 'over', 'remove', 'internet', 'order', 'mail', 'receive', 'will', 'people',
         'report', 'addresses', 'free', 'business', 'email', 'you', 'credit', 'your', 'font', '000', 'money', 'hp', 'hpl', 
         'george', '650', 'lab', 'labs', 'telnet', '857', 'data', '415', '85', 'technology', '1999', 'parts', 'pm', 'direct',
         'cs', 'meeting', 'original', 'project', 're', 'edu', 'table', 'conference']

In [57]:
messages = list(df["v2"])
all_counts = []
for message in messages:
    counts = []
    for word in words:
        counts.append(freq(word, message))
    all_counts.append(counts)

In [59]:
print(all_counts[0])

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0]

In [60]:
words[-4]

're'

In [61]:
messages[0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [65]:
word_counts = np.array(all_counts)

In [66]:
word_counts.shape

(5564, 48)

In [67]:
len(words)

48

In [68]:
word_counts[:,1].sum()

21

In [71]:
word_counts.sum(axis=0).argmax()

44

In [72]:
words[44]

're'

In [77]:
mean_run_lengths = []
for message in messages:
    cap_seqs = caps(message)
    if len(cap_seqs) == 0:
        mean_run_lengths.append(0)
    else:
        mean_run_lengths.append(np.mean([len(seq) for seq in cap_seqs]))

In [83]:
max_run_lengths = []
for message in messages:
    cap_seqs = caps(message)
    if len(cap_seqs) == 0:
        max_run_lengths.append(0)
    else:
        max_run_lengths.append(np.max([len(seq) for seq in cap_seqs]))

In [85]:
np.argmax(max_run_lengths)

5096

In [82]:
list(df["v1"])[5096]

'ham'

In [92]:
two_or_more_caps = re.compile(r"[A-Z]{2}[A-Z]+")

In [94]:
two_or_more_caps.findall("AAAAbAAbAAbAbBBB")

['AAAA', 'BBB']

In [95]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5559  spam  This is the 2nd time we have tried 2 contact u...
5560   ham              Will Ì_ b going to esplanade fr home?
5561   ham  Pity, * was in mood for that. So...any other s...
5562   ham  The guy did some bitching but I acted like i'd...
5563   ham                         Rofl. Its true to its name

[5564 rows x 2 columns]

In [97]:
y = [1 if x == "spam" else 0 for x in list(df["v1"])]

In [100]:
"AAABBcccdsfa2314AAA".lower()

'aaabbcccdsfa2314aaa'